*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #1a1b1e;
}

/*========== HEADER ==========*/

.header{
    background-color: #25282c;
    position: sticky;
    top: 0;
    padding: 1rem;
    border-bottom: 2px solid #ffffff34;
    box-shadow: 0 0 10px #000000;
    z-index: 10;
    max-width: 100%;
}

.header-tittle{
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    max-width: 100%;
}

.header-p{
    font-size: 0.8rem;
    text-align: center;
    color: #8b8d8f;
    margin-top: 10px;
}

.enlace-head{
    text-decoration: none;
    color: #69f;
}
/*========== MAIN ==========*/

.main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0.9rem;
}

.next-stream{
    color: #fff;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 900;
    margin-bottom: 15px;
}

.container-games{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    gap: 2rem;
}

.cards{
    background-color: #25282c;
    max-width: 100%;
    width: 250px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    transition: background-color, scale 0.5s ease;
}

.cards:hover{
    background-color: #38393c;
    scale: 1.03;
}

.img{
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ya-jugado{
    filter: saturate(0%);
}

.container-p-tittle{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.games-tittle{
    color: #fff;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    text-wrap: wrap;
}

.games-p{
    color: #8b8d8f;
    font-size: clamp(0.6rem, 1.5vw, 0.7rem); 
}

.strong{
    color: rgb(26, 255, 0);
    text-shadow: 0 0 15px rgb(17, 255, 0);
    animation: parpadear 1s infinite alternate backwards;
}

.strong-2{
    color: rgb(255, 26, 26);
    text-shadow: 0 0 15px rgb(255, 2, 2);
}

@keyframes parpadear {
    0%{
        text-shadow: 0 0 15px rgb(45, 255, 30);
    }

    25%{
        text-shadow: 0 0 15px rgb(59, 250, 46);
    }

    35%{
        text-shadow: 0 0 15px rgb(45, 255, 30);
    }

    46%{
        text-shadow: 0 0 15px rgba(22, 255, 5, 0.663);
    }

    60%{
        text-shadow: 0 0 15px rgb(40, 255, 25);
    }

    78%{
        text-shadow: 0 0 15px rgb(40, 255, 25);
    }

    100%{
        text-shadow: 0 0 15px rgba(40, 255, 25, 0.493);
    }
}

.enlace{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: 0.6rem;
    border: 2px solid #fff;
    padding: 0.4rem 10px;
    border-radius: 12px;
    text-transform: uppercase;
}

.enlace:hover{
    background-color: #fff;
    color: #25282c;
}

/*========== FOOTER ==========*/

.footer{
    border-top: 2px solid #ffffff34;
    padding: 2rem;
    text-align: center;
    display: grid;
    place-content: center;
    gap: 1.5rem;
    background-color: #25282c;
}

.container-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.linea{
    border-bottom: 1px solid #fff;
    width: 50px;
}

.footer-container-img{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-subti{
    color: #d5d5d5;
    font-size: 0.8rem;
}

.footer-img{
    width: 20px;
}

.footer-link{
    cursor: pointer;
    transition:scale 0.5s ease;
    display: inline-block;
}

.footer-link:hover{
    scale: 1.3;
}
/*========== MEDIA QUERIE ==========*/

@media screen and (max-width: 640px) {
    .container-games{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
        gap: 3rem;
    }

    .cards{
        max-width: 100%;
        width: 150px;
        height: auto;
    }

    .cards:hover{
        background-color: #38393c;
    }

    
    .header-tittle{
        font-size: 1.2rem;
    }

    .footer-img{
        width: 15px;
    }
}